# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Gradle
build/
.gradle/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Compiled Java bytecode
*.class

# Package files
*.jar
*.war
*.ear
*.zip

# Maven
target/
